:root {
    --text-color: rgb(232, 232, 54);
    --element-bg-color: #be3144;
    --basic-text-color: rgb(212, 212, 212);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-width: 530px
}
#welcome-section {
    padding: 20px;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    background: #1e1e20;
    color: var(--basic-text-color);
    flex-wrap: nowrap;
}
.profile {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "img h4"
        "img h11"
        "img h12";
    margin: 0 auto;
}
.profile > * {
    position: relative;
}
.profile > img {
    width: 200px;
    height: auto;
    border: solid 5px #50e3c2;
    border-radius: 50%;
    grid-area: img;
    left: 20px;
}
.profile > h4 {
    grid-area: h4;
    top: 20px;
    right: 70px;
}
.profile > .h11 {
    grid-area: h11;
    opacity: 0;
    animation: fadein1 1s ease-in forwards;
}
.profile > .h12 {
    grid-area: h12;
    color: var(--element-bg-color);
    opacity: 0;
    animation: fadein2 2s ease-in-out forwards;
}
p {
    font-size: 1.2rem;;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
header {
    position: fixed;
    width: 100%;
    background: linear-gradient(to right, #4a90e2, #50e3c2);
    z-index: 999;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    font-size: 1.2rem;
}
.profile::before {
    content: "✋";
    position: relative;
    z-index: 990;
    font-size: 3rem;
    animation: hi 1s linear infinite;
    height: 200px;
    width: 200px;
    top: -200px;
    left: -80px;
    transform-origin: bottom left;
}
.p1 {
    position: relative;
    z-index: 990;
    animation: p1 1s ease-out forwards;
}
.p2 {
    position: relative;
    z-index: 990;
    animation: p2 1s ease-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
}
#projects {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left, #152d48, #203b35);
    margin: 0 auto;
    padding: 70px 0;
}
.projects {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    scroll-behavior: auto;
}
#projects > h2 {
    display: block;
    color: var(--text-color);
    position: relative;
    z-index: 990;
    text-align: center;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 8px;
    align-self: flex-start;
}

#projects > .projects > a {
    color: var(--text-color);
    background: var(--element-bg-color);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
#projects > .projects > a > img {
    height: 33vh;
    aspect-ratio: 16/9;
}
#projects > .projects > a > p {
    font-size: 1.2rem;
    margin-top: 10px;
    letter-spacing: 0;
    word-spacing: 2px;
    transform: scale(1);
    font-weight: normal;
    transition: transform 0.3s ease-in-out, font-weight 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
}
#projects > .projects > a:hover > p {
    transform: scale(1.1);
    font-weight: bold;
    letter-spacing: 2px;
}
#projects > .projects > h2 {
    width: 440px;
    text-align: center;
    display: block;
    color: var(--basic-text-color);
}
#contact {
    height: 100vh;
    box-sizing: border-box;
    padding: 70px 0;
    background: #303841;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
#contact * {
    color: var(--basic-text-color);
}
#contact > h2 {
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
    position: relative;
    transform: translateY(-100px);
}
#contact > .location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    border: solid 2px var(--text-color);
    height: 50%;
    width: 80%;
    box-sizing: border-box;
    padding: 20px;
    background: linear-gradient(to top left, #152d48, #203b35);
    border-radius: 8px;
}
#contact > .location > .contact > a {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
#contact > .location > .contact > a > p {
    opacity: 0;
    transform: translateY(-80%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
#contact > .location > .contact > a > svg {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
    width: 100px;
    height: 50px;
    aspect-ratio: 1/1;
}
#contact > .location > .contact > a:hover p {
    opacity: 1;
    transform: translateY(0);
}
#contact > .location > .contact > a:hover svg {
    transform: translateY(-20%);
}
footer {
    height: 100px;
    width: 100%;
    background: #303841;
    color: var(--basic-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 10px 10px;
}
footer > p:first-of-type {
    position: relative;
    transform: translateY(-20px);
}
footer > p {
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
}
/* #contact > .location > .contact > a:hover p {
    animation: texta1 0.8s ease-in-out forwards;
}
#contact > .location > .contact > a:hover svg {
    animation: texta2 0.8s ease-in-out forwards;
}
@keyframes texta2 {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20%);
    }
}
@keyframes texta1 {
    from {
        transform: translateY(-80%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
} */
@keyframes fadein1 {
    from {
        opacity: 0;
        top: 30px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}
@keyframes fadein2 {
    from {
        opacity: 0;
        top: 30px;
    }
    to {
        opacity: 1;
        top: -20px;
    }
}
@keyframes hi {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-25deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes p1 {
    from {
        opacity: 0;
        top: 60px;
    }
    to {
        opacity: 1;
        top: 30px;
    }
}
@keyframes p2 {
    from {
        opacity: 0;
        top: 0px;
    }
    to {
        opacity: 1;
        top: -30px;
    }
}
@media (min-width: 860px) {
    #projects > h2 {
        position: relative;
        z-index: 990;
        top: -47px;
    }
}
@media (min-width: 1200px) {
    #projects > h2 {
        position: relative;
        z-index: 990;
        top: -150px;
    }
}
@media (max-width: 800px) {
    #projects > .projects > a > p {
    font-size: 1.2rem;
    margin-top: 10px;
    letter-spacing: 0;
    word-spacing: 2px;
    transform: scale(1);
    font-weight: normal;
    transition: transform 0.3s ease-in-out, font-weight 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
}
#projects > .projects > a:hover > p {
    transform: scale(1);
    font-weight: normal;
    letter-spacing: 0;
}
#contact > .location > .contact > a:hover p {
    opacity: 1;
    transform: translateY(0);
}
#contact > .location > .contact > a > p {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
#contact > .location > .contact > a:hover svg {
    transform: translateY(0);
}
#contact > .location > .contact > a > svg {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
    width: 100px;
    height: 50px;
    aspect-ratio: 1/1;
}
.profile::before {
    content: "✋";
    position: relative;
    z-index: 990;
    font-size: 3rem;
    animation: hi 1s linear infinite;
    height: 200px;
    width: 200px;
    top: -200px;
    left: -80px;
    transform-origin: bottom left;
    display: none;
}
}